<nav class="nav justify-content-center">
  <a class="nav-link active" routerLink="/calculator" routerLinkActive="active">Calculadora</a>
  <a class="nav-link active" routerLink="/heroes" routerLinkActive="active">Héroes</a>
  <a class="nav-link active" routerLink="/apod" routerLinkActive="active">Apod</a>
  <a class="nav-link active" routerLink="/beers" routerLinkActive="active">Cervezas</a>
  <a class="nav-link active" routerLink="/form" routerLinkActive="active">Formulario</a>
</nav>

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
