<tr>
    <!-- create button and assign value to each button -->
    <!-- handleClick("1") will call function dis to display value -->
    <td><input type="button" class="btn btn-primary btn-block" value="1" (click)="handleClick(1)"/> </td>
    <td><input type="button" class="btn btn-primary btn-block" value="2" (click)="handleClick(2)"/> </td>
    <td><input type="button" class="btn btn-primary btn-block" value="3" (click)="handleClick(3)"/> </td>
    <td><input type="button" class="btn btn-primary btn-block" value="/" (click)="handleClick('/')"/> </td>
 </tr>
 <tr>
    <td><input type="button" class="btn btn-primary btn-block" value="4" (click)="handleClick(4)"/> </td>
    <td><input type="button" class="btn btn-primary btn-block" value="5" (click)="handleClick(5)"/> </td>
    <td><input type="button" class="btn btn-primary btn-block" value="6" (click)="handleClick(6)"/> </td>
    <td><input type="button" class="btn btn-primary btn-block" value="-" (click)="handleClick('-')"/> </td>
 </tr>
 <tr>
    <td><input type="button" class="btn btn-primary btn-block" value="7" (click)="handleClick(7)"/> </td>
    <td><input type="button" class="btn btn-primary btn-block" value="8" (click)="handleClick(8)"/> </td>
    <td><input type="button" class="btn btn-primary btn-block" value="9" (click)="handleClick(9)"/> </td>
    <td><input type="button" class="btn btn-primary btn-block" value="+" (click)="handleClick('+')"/> </td>
 </tr>
 <tr>
    <td><input type="button" class="btn btn-primary btn-block" value="." (click)="handleClick('.')"/> </td>
    <td><input type="button" class="btn btn-primary btn-block" value="0" (click)="handleClick(0)"/> </td>
    <!-- solve function call function solve to evaluate value -->
    <td><input type="button" class="btn btn-primary btn-block" value="=" (click)="handleClick('=')"/> </td>
    <td><input type="button" class="btn btn-primary btn-block" value="*" (click)="handleClick('*')"/> </td>
 </tr>